html{
    margin-left: 10pt;
    margin-right: 10pt;
    margin-top: 10pt;
    margin-bottom: 10pt;

}

h1{
    color:  #000000;
    text-align: center;
    font-size: 50pt;
    font-family: fantasy;
    margin-bottom: 0pt;
}

h2{
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25pt;
    text-align: left;
    margin-top: 20pt;
}

h3{
    color: #000000;
}

#send_button{
    font-size: 15pt;
    border-radius: 15pt;
    width: 80pt;
    height: 30pt;
    border-color: #7CFC00;
    background-color: #90EE90;
    text-align: center;
}

#home_button{
    font-size: 15pt;
    border-radius: 15pt;
    width: 80pt;
    height: 30pt;
    border-color:  	#FAFAD2;
    background-color: 	#F0E68C ;
    text-align: center;
}

#back_button{
    font-size: 15pt;
    border-radius: 15pt;
    width: 80pt;
    height: 30pt;
    border-color: salmon;
    background-color: 	#F08080;
    text-align: center;
}


body {background-image: radial-gradient( White, AliceBlue     , LightSteelBlue       );;}